body{
  color: #84a9ac;
  font-family: "Roboto";
  text-align: center;
}
h1{
  color: #e7dfd5;
  font-family: "Sacramento";
  font-size: 4rem;
  font-weight: bolder;
}

h2{
  color:#3b6978;
  font-size: 4rem;
  font-weight: bolder;
}

h3{
  color:#3b6978;
  font-size: 3rem;
  font-weight: bolder;
}
h4{
  font-size: 1.5rem;
  line-height: 2;
}
hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  margin: 100px auto;
  width: 5%;
}
.dark-section{
  background-color: #3b6978;
}

.light-section{
  background-color: #e7dfd5;
}
#carousel{
  padding-top: 3%;
  padding-bottom: 3%;
}
.carousel-img{
  margin: auto;
  width: 35%;
}
.ctl-btn{
  padding: 30px;
}

#welcome{
  padding-top: 5%;
  padding-left: 10%;
  text-align: left;
}

.mtn-img{
  width: 90%;
  padding-bottom: 10%;
}

.cloud1{
  position:absolute;
  top: 110px;
  left: 7%;
}

.cloud2{
  position: absolute;
  top: 75px;
  right: 10%;
}

#love{
  background-color:  #e7dfd5;
  color:  #84a9ac;
  padding-top: 10%;
  padding-bottom: 7%;
}

.love-pic{
  padding-top: 7%;
  padding-bottom: 7%;
  width: 65%;
  border-radius: 100%;
}

/* game section */
#game{
  padding-bottom: 8%;
}

.raptor{
  padding-top: 2%;
  padding-bottom: 5%;
  width: 35%;
  border-radius: ;
}

.game-intro{
  font-size: 1.5rem;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 30%;
}
.gamecontent{
  padding-top: 5%;
  padding-bottom: 5%;
}

.gamepic{
  padding: 3% 0%;
  width: 50%;
  border-radius: 100%;
}

/* footer */
.bottom-container{
  padding: 5% 0%;
}
.footer-link{
  color: #e7dfd5;
  font-weight: bold;
  margin: 10px 15px;
  text-decoration: none;
}

@media (max-width: 1028px){
  #welcome{
    text-align: center;
  }
  .game-intro{
    text-align: center;
  }
}

/* ansnwer outcomes */
.answer{
  background-color: #84a9ac;
  padding: 5%;
}
.gif-size{
  margin: auto;
  width: 50%;

}
