body{
  color: #84a9ac;
  font-family: "Roboto";
  text-align: center;
}
h1{
  color: #e7dfd5;
  font-family: "Sacramento";
  font-size: 4rem;
  font-weight: bolder;

}
#carousel{
  background-color: #3b6978;
  padding-top: 3%;
  padding-bottom: 3%;
}
.carousel-img{
  margin: auto;
  width: 35%;
}
.ctl-btn{
  padding: 30px;
}

#welcome{
  background-color: #3b6978;
  padding-top: 5%;
}

.mtn-img{
  padding-bottom: 10%;
}

.cloud1{
  position:absolute;
  top: 110px;
  left: 7%;
}

.cloud2{
  position: absolute;
  top: 75px;
  right: 10%;
}
